install
cdrom
text

lang en_US.UTF-8
keyboard us
timezone --utc Etc/UTC

url --url http://ftp.osuosl.org/pub/centos/6/os/x86_64
repo --name=epel --baseurl=http://ftp.osuosl.org/pub/fedora-epel/6/x86_64/
repo --name=puppet --baseurl=http://yum.puppetlabs.com/el/6/products/x86_64/
repo --name=puppetdeps --baseurl=http://yum.puppetlabs.com/el/6/dependencies/x86_64/
repo --name=updates --baseurl=http://ftp.osuosl.org/pub/centos/6/updates/x86_64

network --device eth0 --bootproto dhcp

firewall --enabled
selinux --disabled
authconfig --enableshadow --passalgo=sha512

zerombr
bootloader --location=mbr --driveorder=sda --append="clocksource_failover=acpi_pm"

clearpart --all --initlabel --drives=sda,sdb
part / --ondisk sda --grow --size 2000 --asprimary --fstype=ext4
part swap --ondisk sdb --grow --size 100

firstboot --disabled

rootpw --plaintext vagrant

reboot

%packages --nobase
coreutils
dhclient
yum
rpm
e2fsprogs
lvm2
grub
sysstat
ntp
openssh-server
openssh-clients
sudo
xorg-x11-xauth
wget
bzip2
kernel-devel
git
gcc
make
vim-enhanced
nfs-utils
epel-release
puppet
puppetlabs-release
-efibootmgr

%post --log=/root/install-post.log

# No fsck at boot
sed -i -r 's/(defaults\s+)1 1/\10 0/' /etc/fstab

# Create vagrant user
useradd -m vagrant -G wheel
echo "vagrant" | passwd --stdin vagrant

# Install vagrant keys
mkdir -pm 700 /home/vagrant/.ssh
/usr/bin/wget --no-check-certificate 'https://raw.github.com/mitchellh/vagrant/master/keys/vagrant.pub' -O /home/vagrant/.ssh/authorized_keys
chmod 600 /home/vagrant/.ssh/authorized_keys
chmod 700 /home/vagrant.ssh
chown -R vagrant:vagrant /home/vagrant/.ssh

# Update sudoers
echo "Defaults   !visiblepw" > /etc/sudoers
echo "Defaults    env_reset" >> /etc/sudoers
echo "Defaults    !requiretty" >> /etc/sudoers
echo "root    ALL=(ALL)       ALL" >> /etc/sudoers
echo "%wheel  ALL=(ALL)       NOPASSWD: ALL" >> /etc/sudoers

# Hotplug always tries to load this and it doesn't play well with
# VirtualBox. Always complains to upgrade BIOS.
echo 'blacklist i2c_piix4' >>/etc/modprobe.d/blacklist.conf

# Setup network devices.
rm /etc/udev/rules.d/70-persistent-net.rules
rm /etc/sysconfig/network-scripts/ifcfg-eth1
echo '#' >/etc/udev/rules.d/75-persistent-net-generator.rules
cat <<EOM >/etc/sysconfig/network
HOSTNAME=vagrant-centos.example.com
NETWORKING=yes
EOM

cat <<EOM >/etc/sysconfig/network-scripts/ifcfg-eth0
BOOTPROTO=dhcp
DEVICE=eth0
IPV6INIT=no
NM_CONTROLLED=no
ONBOOT=yes
TYPE=Ethernet
EOM

sed -i -r 's/#(UseDNS).*/\1 no/' /etc/ssh/sshd_config

# Output commands to rc.local to run after reboot.
# The last command run there is to clear out rc.local.
cat <<EOM >/etc/rc.local
#!/bin/sh -x

touch /var/lock/subsys/local

# VirtualBox Guest Additions
# The "Window System drivers" step will fail which is fine because we
# don't have Xorg
mount -o ro \`find /dev/disk/by-label | grep VBOXADDITIONS\` /mnt/
/mnt/VBoxLinuxAdditions.run
chkconfig vboxadd-x11 off
umount /mnt/

# Rebuild the initrd to include only what's needed.
dracut -f -H

yum clean all  # Remove yum's cache files.

# Clean logs.
rm -f /var/log/dmesg.old /var/log/anaconda.ifcfg.log \\
      /var/log/anaconda.log /var/log/anaconda.program.log \\
      /var/log/anaconda.storage.log /var/log/anaconda.syslog \\
      /var/log/anaconda.yum.log /root/anaconda-ks.cfg \\
      /var/log/vboxadd-install.log /var/log/vbox-install-x11.log \\
      /var/log/VBoxGuestAdditions.log /var/log/vboxadd-install-x11.log
echo -n | tee /var/log/dmesg /var/log/maillog /var/log/lastlog \\
              /var/log/secure /var/log/yum.log >/var/log/cron

swapuuid=\`blkid -o value -l -s UUID -t TYPE=swap\`
swappart=\`readlink -f /dev/disk/by-uuid/\$swapuuid\`

swapoff \$swappart
dd if=/dev/zero of=\$swappart bs=1M
mkswap -U \$swapuuid \$swappart

# Work around 6.6 bug that doesn't actually disable SELinux.
setenforce 0
sed -i -r 's/SELINUX=enforcing/SELINUX=disabled/' /etc/selinux/config

cat <<EOF >/etc/rc.local && poweroff
#!/bin/sh

touch /var/lock/subsys/local
EOF

EOM
